<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Rental Video</title>
</head>
<body>
<h1>Rental Video</h1>

<div>
    <?= htmlspecialchars($price) ?>
</div>
<table>
    <?php foreach ($rentals as $item) { ?>
        <tr>
            <th><?= $item["movie"] ?></th>
            <td><?= $item["quantity"] ?></td>
        </tr>
    <?php } ?>
</table>

<form method="post" action="/add">
    <select name="movie">
        <?php foreach ($movies as $key => $item) { ?>
            <option value="<?= htmlspecialchars($key) ?>"><?= htmlspecialchars($item->name) ?></option>
        <?php } ?>
    </select>

    <input name="quantity" type="number" min="1" max="10" value="1" style="width: 3em;">

    <button>追加</button>
</form>

<form method="post" action="/clear">
    <button>クリア</button>
</form>
</body>
</html>
